{% extends "admins/index.html" %} {% load crispy_forms_tags %} 
{% block admin_content %}

<form class="max-w-md mx-auto" method="POST">
  {% for msg in messages %} {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

  <div
    class="p-4 mb-4 text-sm text-fg-success-strong rounded-base bg-success-soft"
    role="alert"
  >
    <span class="font-medium">Success alert!</span>{{msg}}
  </div>
  {% endif %} 
  
  {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

  <div
    class="p-4 mb-4 text-sm text-fg-error-strong rounded-base bg-success-soft"
    role="alert"
  >
    <span class="font-medium">Error alert!</span>{{msg}}
  </div>
  {% endif %} 
  {% endfor %} {% csrf_token %} {{form|crispy}}
  <button
    type="submit"
    class="text-white bg-blue-600 box-border border border-transparent hover:bg-blue-700 focus:ring-4 focus:ring-blue-200 shadow-xs font-medium leading-5 rounded-md text-sm px-4 py-2.5 focus:outline-none"
  >
    Submit
  </button>
</form>

{% endblock %}
