{% extends "admins/index.html" %} {% block admin_content %}
<div class="grid grid-cols-3 gap-4 mb-4">
  <div
    class="flex items-center justify-center h-24 rounded-base bg-neutral-secondary-soft"
  >
    <p class="text-fg-disabled">
      Admin Dashboard
    </p>
  </div>
  <div
    class="flex items-center justify-center h-24 rounded-base bg-neutral-secondary-soft"
  >
    <p class="text-fg-disabled">
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14m-7 7V5"
        />
      </svg>
    </p>
  </div>
  <div
    class="flex items-center justify-center h-24 rounded-base bg-neutral-secondary-soft"
  >
    <p class="text-fg-disabled">
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14m-7 7V5"
        />
      </svg>
    </p>
  </div>
</div>
<div
  class="flex items-center justify-center h-48 rounded-base bg-neutral-secondary-soft mb-4"
>
  <p class="text-fg-disabled">
    <svg
      class="w-5 h-5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5 12h14m-7 7V5"
      />
    </svg>
  </p>
</div>
<div class="grid grid-cols-2 gap-4 mb-4">
  <div
    class="flex items-center justify-center h-24 rounded-base bg-neutral-secondary-soft"
  >
    <p class="text-fg-disabled">
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14m-7 7V5"
        />
      </svg>
    </p>
  </div>
  <div
    class="flex items-center justify-center h-24 rounded-base bg-neutral-secondary-soft"
  >
    <p class="text-fg-disabled">
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14m-7 7V5"
        />
      </svg>
    </p>
  </div>
  <div
    class="flex items-center justify-center h-24 rounded-base bg-neutral-secondary-soft"
  >
    <p class="text-fg-disabled">
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14m-7 7V5"
        />
      </svg>
    </p>
  </div>
  <div
    class="flex items-center justify-center h-24 rounded-base bg-neutral-secondary-soft"
  >
    <p class="text-fg-disabled">
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14m-7 7V5"
        />
      </svg>
    </p>
  </div>
</div>
<div
  class="flex items-center justify-center h-48 rounded-base bg-neutral-secondary-soft mb-4"
>
  <p class="text-fg-disabled">
    <svg
      class="w-5 h-5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5 12h14m-7 7V5"
      />
    </svg>
  </p>
</div>
<div class="grid grid-cols-2 gap-4">
  <div
    class="flex items-center justify-center h-24 rounded-base bg-neutral-secondary-soft"
  >
    <p class="text-fg-disabled">
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14m-7 7V5"
        />
      </svg>
    </p>
  </div>
  <div
    class="flex items-center justify-center h-24 rounded-base bg-neutral-secondary-soft"
  >
    <p class="text-fg-disabled">
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14m-7 7V5"
        />
      </svg>
    </p>
  </div>
  <div
    class="flex items-center justify-center h-24 rounded-base bg-neutral-secondary-soft"
  >
    <p class="text-fg-disabled">
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14m-7 7V5"
        />
      </svg>
    </p>
  </div>
  <div
    class="flex items-center justify-center h-24 rounded-base bg-neutral-secondary-soft"
  >
    <p class="text-fg-disabled">
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14m-7 7V5"
        />
      </svg>
    </p>
  </div>
</div>
{% endblock %}
