{% extends "admins/index.html" %} {% block admin_content %}

<div
  class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default"
>
  <table class="w-full text-sm text-left rtl:text-right text-body">
    <thead class="bg-neutral-secondary-soft border-b border-default">
      <tr>
        <th scope="col" class="px-6 py-3 font-medium">Product Name</th>
        <th scope="col" class="px-6 py-3 font-medium">Product Price</th>
        <th scope="col" class="px-6 py-3 font-medium">Category</th>
        <th scope="col" class="px-6 py-3 font-medium">Quantity</th>
        <th scope="col" class="px-6 py-3 font-medium">Description</th>
        <th scope="col" class="px-6 py-3 font-medium">Image</th>
        <th scope="col" class="px-6 py-3 font-medium">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for p in product %}
      <tr
        class="odd:bg-neutral-primary even:bg-neutral-secondary-soft border-b border-default"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-heading whitespace-nowrap"
        >
          {{p.title}}
        </th>
        <td class="px-6 py-4">Rs. {{p.price}}</td>
        <td class="px-6 py-4">{{p.category}}</td>
        <td class="px-6 py-4">{{p.quantity}}</td>
        <td class="px-6 py-4">{{p.description}}</td>
        <td class="px-6 py-4">
          <img src="{{p.image}}" alt="{{p.title}}" width="100px">
        </td>
        <td class="px-6 py-4">
          <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
          <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline">Delete</a>
        </td>
      </tr>
      
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
