# Python
__pycache__/
*.pyc

# Virtual Environment
craftnepal_env/
env/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db